{% extends "MediaManager/header_index.html" %}
{% load static %}

{% block head %}
    <title>{{ album.title }}</title>
    <link rel="stylesheet" href="{% static "CSS/styles.css" %}">
{% endblock %}

{% block page %}
    <br>
    <br>
    <br>
    <h2>Login</h2>
    <br>
    {% if error %}
        <h4 style="color: red">{{ error }}</h4>
        <br>
    {% endif %}
    <form method="post" action="{% url 'login_user' %}">
        <table class="form-table">
            {% csrf_token %}
            <tr>
                <td class="form-table">Enter Username: </td>
                <td class="form-table"><input class="inputData" type="text" name="username"></td>
            </tr>
            <tr>
                <td class="form-table">Enter Password: </td>
                <td class="form-table"><input class="inputData"  type="password" name="password"></td>
            </tr>
            <tr>
                <td  class="form-table" colspan="2">
                    <input class="inputData" type="submit" value="Submit">
                </td>
            </tr>
        </table>


    </form>
{% endblock %}